.company-field {
  display: block;
}

.company-field-dropdown-menu {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 20, 0.1), 0 5px 20px rgba(0, 0, 0, 0.25);
  user-select: none;
  width: 100%;
  z-index: 100;
}

.company-field-suggestion {
  padding: 10px;
}

.company-field-suggestion:first-child {
  padding-top: 11px;
}

.company-field-suggestion:last-child {
  padding-bottom: 11px;
}

.company-field-cursor {
  background-color: #d5d8dd;
  color: #29323d;
}

.company-field-suggestion {
  align-items: center;
  display: flex;
}

.company-field-image, .company-field-fallback {
  background-size: cover;
  border-radius: 2px;
  height: 28px;
  margin-right: 6px;
  width: 28px;
}

.company-field-fallback {
  align-items: center;
  background-color: #333f4d;
  color: #d7d9db;
  display: flex;
  justify-content: center;
}
